// Author: Shahadat Hossain
// Email: raselsha@gmail.com 
// Version: 1.0.0
// Descriptoin: this file is main sass file that will compile one main css into /assets/admin/mp_main_settings.css
@charset "UTF-8";

@import
      'styles/variables',
      'styles/custom';
