:root {
  --mptbm-primary:#F12971;
  --mptbm-sky:#f38fb3;
  --mptbm-sky-light:#EFFAFF;
  --mptbm-secondary:#1d2327;
  --mptbm-dark:#a4a4a4;
  --mptbm-gray:#e0e0e0;
  --mptbm-light:#F5F5F5;
  --mptbm-white:#ffffff;
  --mptbm-black:#000000;
  --mptbm-yellow:#ffcb00;
  --mptbm-red:#d91e1e;
  --mptbm-red-light:#f6dada;
}

#mp_meta_box_panel .postbox-header {
  background-color: var(--mptbm-primary);
}
#mp_meta_box_panel .postbox-header .handle-actions {
  margin-top: 0;
}
#mp_meta_box_panel .postbox-header .handle-actions .handle-order-higher, #mp_meta_box_panel .postbox-header .handle-actions .handle-order-lower, #mp_meta_box_panel .postbox-header .handle-actions .toggle-indicator {
  color: var(--mptbm-white);
}
#mp_meta_box_panel .postbox-header h2 span {
  font-size: 12px;
  margin: 0 5px;
  margin-top: 5px;
}
#mp_meta_box_panel .mptbm_settings {
  background-color: var(--mptbm-white);
}
#mp_meta_box_panel .mptbm_settings .tabLists {
  width: 20%;
  padding: 25px;
  background-color: var(--mptbm-light);
  padding-right: 0;
}
#mp_meta_box_panel .mptbm_settings .tabLists li {
  border-left: 0;
  border-right: 0;
  padding: 15px;
  color: var(--mptbm-secondary);
  border-left: 2px solid transparent;
}
#mp_meta_box_panel .mptbm_settings .tabLists li span {
  margin-right: 25px;
  color: var(--mptbm-primary);
}
#mp_meta_box_panel .mptbm_settings .tabLists li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid #d8d8d8;
  width: 91%;
}
#mp_meta_box_panel .mptbm_settings .tabLists li.active, #mp_meta_box_panel .mptbm_settings .tabLists li:hover {
  background-color: var(--mptbm-white);
  color: #333;
  font-weight: normal;
  border-left: 2px solid var(--mptbm-primary);
}
#mp_meta_box_panel .mptbm_settings .tabLists li.active::after, #mp_meta_box_panel .mptbm_settings .tabLists li:hover::after {
  width: 100%;
}
#mp_meta_box_panel .mptbm_settings .tabsContent {
  width: 80%;
  padding: 2% 5%;
}
#mp_meta_box_panel .mptbm_settings .tabsContent .tabsItem > h2 {
  padding: 0;
  color: var(--mptbm-secondary);
  margin: 30px 0 20px 0;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 12px;
  font-weight: 700;
}
#mp_meta_box_panel .mptbm_settings .tabsContent .tabsItem > p {
  color: var(--mptbm-secondary);
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 30px;
}
#mp_meta_box_panel .mptbm_settings .tabsContent .tabsItem section {
  border: 1px solid #d8d8d8;
  padding: 20px;
  margin-top: -1px;
}
#mp_meta_box_panel .mptbm_settings .tabsContent .tabsItem section.bg-light {
  background-color: var(--mptbm-light);
}
#mp_meta_box_panel .mptbm_settings .tabsContent .tabsItem section .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#mp_meta_box_panel .mptbm_settings .tabsContent .tabsItem section .label h6 {
  color: var(--mptbm-secondary);
  line-height: 1.25rem;
  font-size: 1rem;
  font-weight: 500;
}
#mp_meta_box_panel .mptbm_settings .tabsContent .tabsItem section .label span.desc {
  line-height: 1.25rem;
  color: var(--mptbm-secondary);
  font-size: 0.95rem;
}
#mp_meta_box_panel .mptbm_settings .tabsContent .tabsItem section .label .formControl {
  width: 260px;
}
#mp_meta_box_panel .mptbm_settings .tabsContent .tabsItem section .label .roundSwitchLabel input:checked + .roundSwitch {
  background-color: var(--mptbm-primary);
}
#mp_meta_box_panel .mptbm_settings .tabsContent .span-row {
  color: #6B7280;
  font-size: 13px;
  font-weight: normal;
}
#mp_meta_box_panel .mptbm_settings .tabsContent .long-input {
  width: 80%;
}
#mp_meta_box_panel .mptbm_settings .tabsContent .wp-switch-editor {
  height: auto;
}
#mp_meta_box_panel .mptbm_settings .tabsContent .wp-editor-area {
  width: 100%;
  border: 0;
}

@media only screen and (min-width: 0px) {
  #mp_meta_box_panel .tabLists {
    border-right: 0px solid var(--mptbm-light);
  }
  .leftTabs [data-tabs-target] {
    border-bottom: 0px solid var(--mptbm-light);
  }
  .leftTabs > .tabLists {
    -webkit-flex-flow: column;
    flex-flow: column;
    min-width: inherit;
    max-width: inherit;
  }
  div.mpStyle [data-tabs-target] {
    color: var(--mptbm-secondary);
  }
  .mpStyle .tabsContent {
    overflow: visible;
  }
  .mpStyle .navy_blueButton, .mpStyle [class*=_navy_blueButton] {
    background-color: var(--mptbm-primary);
    color: var(--mptbm-white);
    padding: 1.5em;
    border: 2px solid var(--mptbm-primary);
  }
  .mpStyle .navy_blueButton:hover, .mpStyle [class*=_navy_blueButton]:hover {
    background-color: var(--mptbm-white);
    color: var(--mptbm-primary);
    border-color: var(--mptbm-primary);
  }
  .mpStyle .navy_blueButton:hover span, .mpStyle [class*=_navy_blueButton]:hover span {
    color: var(--mptbm-primary);
  }
  .mpStyle .warningButton, .mpStyle [class*=_warningButton] {
    background-color: var(--mptbm-yellow);
    color: var(--mptbm-white);
    padding: 1.5em;
    border: 2px solid var(--mptbm-yellow);
  }
  .mpStyle .warningButton:hover, .mpStyle [class*=_warningButton]:hover {
    background-color: var(--mptbm-white);
    color: var(--mptbm-yellow);
  }
  .mpStyle .warningButton:hover span, .mpStyle [class*=_warningButton]:hover span {
    color: var(--mptbm-yellow);
  }
  div.mpStyle select.formControl:focus {
    background-color: var(--mptbm-white);
  }
  .mpStyle .mp_remove_icon {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 1;
  }
  .mp_settings_panel_header {
    background: var(--mptbm-secondary);
    padding: 2em;
    color: var(--mptbm-white);
    font-size: 20px;
    margin-top: 30px;
  }
  .mp_settings_panel {
    padding-bottom: 0.5em;
  }
  .mp_settings_panel .nav-tab-wrapper {
    background: var(--mptbm-sky-light);
    border: 5px solid var(--mptbm-sky-light);
  }
  .mp_settings_panel .nav-tab-wrapper .nav-tab {
    box-sizing: border-box;
    background: var(--mptbm-white);
    color: var(--mptbm-secondary);
    margin-bottom: 0.5em;
    border-radius: 0.5em;
  }
  .mp_settings_panel .nav-tab-wrapper .nav-tab:hover {
    background: var(--mptbm-primary);
    color: var(--mptbm-white);
  }
  .mp_settings_panel .nav-tab-wrapper .nav-tab.nav-tab-active {
    background: var(--mptbm-primary);
    color: var(--mptbm-white);
  }
  .mp_settings_panel .metabox-holder {
    background: #FFF;
    padding: 0;
    margin: 0;
    width: calc(100% - 300px);
    border: 15px solid var(--mptbm-sky-light);
    background-color: var(--mptbm-sky-light);
  }
  .mp_settings_panel .metabox-holder h2 {
    border-bottom: 0px solid var(--mptbm-white);
    font-size: 1.625rem;
    line-height: 1.4;
    padding: 0.5em 0;
    margin: 0;
    font-weight: normal;
    background: var(--mptbm-sky-light);
    color: var(--mptbm-primary) !important;
  }
  .mp_settings_panel .metabox-holder table {
    border-collapse: separate;
    border-spacing: 0 0.1em;
    margin: 0;
    background-color: var(--mptbm-sky-light);
    border-radius: 0.5em;
  }
  .mp_settings_panel .metabox-holder table tr:nth-child(2n) {
    background-color: var(--mptbm-white);
  }
  .mp_settings_panel p.submit input {
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 0.5em;
    background: var(--mptbm-primary);
    border-color: var(--mptbm-primary);
    transition: 0.2s;
  }
  .mp_settings_panel p.submit input:hover {
    background: var(--mptbm-primary);
    border-color: var(--mptbm-primary);
  }
  #wpbody-content .metabox-holder {
    padding-top: 0px;
    padding-bottom: 0.5em;
  }
}
.ppof-settings .form-wrapper {
  margin-left: 250px;
  background: transparent;
}

#mp_meta_box_panel h1 {
  padding: 0;
  color: var(--mpl-secondary);
  margin: 30px 0 20px 0;
  margin-bottom: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 12px;
  font-weight: 700;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs .description, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs .description {
  margin: 0;
  padding: 1.5em;
  font-size: 1rem;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  margin: 0;
  margin-top: 50px;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr th, #mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr th, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td {
  background-color: var(--mptbm-white);
  padding: 3em;
  margin-bottom: 3em;
  width: 50%;
  border: 1px solid var(--mptbm-gray);
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr th p, #mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td p, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr th p, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td p {
  font-size: 0.8rem;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td {
  text-align: right;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td label, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td label {
  display: block;
  text-align: right;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td input {
  border-radius: 0.5em;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input.select2-search__field, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td input.select2-search__field {
  border: 0;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input#mep_disable_ticket_time, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td input#mep_disable_ticket_time {
  margin-right: 0.5em;
}
#mp_meta_box_panel .form-wrap.form-builder h1, #mp_meta_box_panel .form-wrap.form-builder h2, #mp_meta_box_panel .form-wrap.form-builder h3, #mp_meta_box_panel .form-wrap.form-builder h4, #mp_meta_box_panel .form-wrap.form-builder h5, #mp_meta_box_panel .form-wrap.form-builder h6,
#mp_meta_box_panel .form-wrap.form-builder .h1, #mp_meta_box_panel .form-wrap.form-builder .h2, #mp_meta_box_panel .form-wrap.form-builder .h3, #mp_meta_box_panel .form-wrap.form-builder .h4, #mp_meta_box_panel .form-wrap.form-builder .h5, #mp_meta_box_panel .form-wrap.form-builder .h6 {
  color: var(--mptbm-dark);
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li {
  padding-bottom: 0.5em;
  border: 1px dashed var(--mptbm-gray);
  box-shadow: 0 0 0px var(--mptbm-light);
  background-color: var(--mptbm-light);
  margin-bottom: 0.5em;
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li.frmb-placeholder, #mp_meta_box_panel .form-wrap.form-builder .frmb li.ui-state-highlight {
  padding: 0.5em;
  background: var(--mptbm-sky-light);
  border: 1px dashed var(--mptbm-primary);
  clip-path: none;
  margin-bottom: 0.5em;
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li:hover {
  border: 1px dashed var(--mptbm-primary);
  box-shadow: 0 0 10px var(--mptbm-light);
  background-color: var(--mptbm-sky-light);
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li.delete:hover {
  border: 1px dashed var(--mptbm-red);
  background-color: var(--mptbm-red-light);
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .btn {
  min-width: 0;
  padding: 0;
  color: var(--mptbm-white);
  border-radius: 0;
  transition: all 0;
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .del-button {
  background-color: var(--mptbm-red);
  color: var(--mptbm-white);
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .toggle-form {
  background-color: var(--mptbm-yellow);
  transition: all 0;
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .copy-button {
  background-color: var(--mptbm-primary);
  color: var(--mptbm-white);
}

div > .ppof-metabox {
  background: transparent;
}

.mpStyle .ppof-button {
  width: 320px;
  border: 0px solid;
  box-shadow: none;
  background-color: var(--mptbm-primary);
  border-radius: 0.5em;
  padding: 0.5em;
  color: var(--mptbm-white);
  font-size: 0.5em;
  transition: all 0.5s ease-in-out;
  min-width: 100px;
}

@media only screen and (min-width: 0px) {
  div.mp_multi_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    gap: 0.5em;
    margin-bottom: 0.5em;
  }
  div.mp_multi_image div.mp_multi_image_item {
    width: calc(25% - 7px);
  }
  div.mp_multi_image div.mp_multi_image_item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  div.mpStyle .description {
    font-size: 1rem !important;
    color: var(--mpl-secondary);
  }
  .mpStyle .customCheckboxLabel input:checked ~ .customCheckbox::before {
    background: var(--mptbm-sky);
  }
  .mpStyle .customCheckboxLabel {
    cursor: pointer;
    font-weight: normal;
  }
  .mpStyle .customCheckbox::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    background-color: var(--mptbm-white);
    border: 1px solid var(--mptbm-primary);
    border-radius: 2px;
  }
}
div.mpStyle span.mp_remove_multi_image {
  background-color: var(--mptbm-black);
  color: var(--mptbm-white);
  box-shadow: 0 0 5px var(--mptbm-white);
}

div.mpStyle span.mp_remove_multi_image {
  top: -7px;
  right: -7px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: var(--mptbm-gray);
  border: 5px solid var(--mptbm-light);
  border-radius: 0.5em;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  padding: 5px;
}

.global-settings table th {
  width: 50%;
}
.global-settings table th label {
  display: block;
}

div.mp_global_settings label .info_text {
  line-height: 0.9rem;
}

div.mp_global_settings .mpPanel .mpPanelBody .mpTabs .tabLists {
  width: 25%;
}

#ui-datepicker-div {
  width: auto;
}

@media only screen and (min-width: 10px) {
  div.mpStyle .mp_sticky_area.mpSticky {
    position: relative;
  }
  div.mpStyle span.selection {
    height: auto;
  }
  div.mpStyle span.select2-container.select2 {
    height: auto;
  }
}

/*# sourceMappingURL=admin_style.css.map */
