:root{
    --mptbm-primary:#F12971;
    --mptbm-sky:#f38fb3;
    --mptbm-sky-light:#EFFAFF;
    --mptbm-secondary:#1d2327;
    --mptbm-dark:#a4a4a4;
    --mptbm-gray:#e0e0e0;
    --mptbm-light:#F5F5F5;
    --mptbm-white:#ffffff;
    --mptbm-black:#000000;
    --mptbm-yellow:#ffcb00;
    --mptbm-red:#d91e1e;
    --mptbm-red-light:#f6dada;
}
$color-primary:var(--mptbm-primary);
$color-secondary:var(--mptbm-secondary);
$color-sky:var(--mptbm-sky);
$color-sky-light:var(--mptbm-sky-light);
$color-dark:var(--mptbm-dark);
$color-gray:var(--mptbm-gray);
$color-light:var(--mptbm-light);
$color-white:var(--mptbm-white);
$color-black:var(--mptbm-black);
$color-black:var(--mptbm-black);
$color-yellow:var(--mptbm-yellow);
$color-red:var(--mptbm-red);
$color-red-light:var(--mptbm-red-light);
